<section id="content-acordeon">
  <div id="box">
    <!-- Cargar acordeon -->
    <h2 id="titulo">Sobre mi</h2>
    <div id="acordeon">
      <h3>¿Quien soy?</h3>
      <div>
        <p>
          Mi nombre es Felipe Arturo Gonzalez Lopez, tengo 23 años y soy estudiante de Ingeniería 
          en Computación de la Universidad Autónoma del Estado de México. Entre a la carrera porque
          soy muy adepto a la programación y a la tecnología, tengo una gran pasión por el desarrollo
          web y la automatizacion de tareas y procesos.
        </p>
      </div>

      <h3>Pasatiempos</h3>
      <div>
        <p>
          Me gusta mucho mirar peliculas  y series, suelo ver mucho peliculas clasicas, la lectura de
          libros de ciencia ficción, los videojuegos, los cómics, salir con mis amigos
          Suelo jugar basquet ultimamente y andar en bicicleta. Como todos me gusta cantar cuando nadie me ve xd.

        </p>
      </div>

      <h3>Cuando egrese quiero...</h3>
      <div>
        <p>
          Cuando egrese de la carrera me gustaria trabajar en una empresa de desarrollo de software
          que me impulse a poder seguir aprendiendo y mejorar.
          Si fuese posible conseguir un trabajo en el extranjero, para poder practicar otros idiomas,
          por ejemplo, ingles, seria bueno. 
        </p>
      </div>
    </div>
  </div>
  <!-- Galeria -->
</section>